@font-face {
    font-weight: 600;
    font-family: InterM;
    src: url("../../fonts/Inter/Inter-Medium.ttf");
}
@font-face {
    font-weight: 400;
    font-family: InterT;
    src: url("../../fonts/Inter/Inter-Thin.ttf");
}
@font-face {
    font-size: 400;
    font-family: InterL;
    src: url("../../fonts/Inter/Inter-Light.ttf");
}
@font-face {
    font-weight: 500;
    font-family: InterR;
    src: url("../../fonts/Inter/Inter-Regular.ttf");
}
.Passwords{
.loginBut{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 327px;
    height: 60px;
    background-color: rgba(16, 143, 44, 1);
    border: none;
    margin-top: 60px;
    border-radius: 10px;
    font-family: InterM;
    line-height: 28px;
    font-size: 18px;
    margin-left: 16px;
    cursor: pointer;
    .Nav{
        text-decoration: none;
        color: rgba(255, 255, 255, 1);
    }
}
.error{
    font-family: InterR;
    margin-left: 20px;
    color: red;
    position: absolute;
    margin-top: -10px;
}
input{
    padding-left: 50px;
    cursor: pointer;
    color: rgba(154, 154, 154, 1);
    height: 60px;
    width: 270px;
    margin-left: 16px;
    margin-top: 15px;
    border: 2px solid rgba(209, 209, 209, 1);
    border-radius: 10px;
    background-image: url(../../assets/file2.png);

    background-repeat: no-repeat;
    background-position: left 11px center;
    font-size: 14px;
}
.pass{
    background-size: 18px;
    padding-left: 35px;
    cursor: pointer;
    height: 60px;
    width: 290px;
    margin-left: 16px;
    margin-top: 15px;
    border: 2px solid rgba(209, 209, 209, 1);
    border-radius: 10px;
    background-repeat: no-repeat;
    background-image: url(../../assets/Vector2.png);
}
.FirstReq{
    display: flex;
    margin-left: 17px;
    align-items: center;
    p{
        font-family: InterL;
        font-size: 15px;
        line-height: 12.4px;
        width: 260px;
        height: 20px;
    }
    .Red{
        color: rgba(216, 42, 42, 1);
        visibility: visible; 
    }
    .Green{
        visibility: hidden;
    }
}
}